body {
    padding: 50px;
    background-color: #eaeaea; /* Set a darker background color for the body */
    color: #222; /* Darker text color for better contrast and readability */
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    background-color: #7aa8b3; 
}
.form-group{
    margin-bottom:30px;
}
