body {
    font-family: 'Arial', sans-serif;
    background-color: #7aa8b3;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    font-size: large;
}

th {
    background-color: #CD6155;
    color: #fff;
}

tr:nth-child(even) {
     background-color: #ABEBC6; /*background of even row */
}

tr:hover {
    background-color: #ddd;
}

input[type="text"]
{
    background-color: #eaedf3;
    color: #120f0f;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    font-size: 15px;
}

input[type="submit"] {
    background-color: #5783db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

select:hover, input[type="submit"]:hover {
    background-color: #3e5b9d;
}
