<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Driver Interface</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
     <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      h2 {
        text-align: center;
        margin-top: 20px;
        
      }

      #map {
        height: 400px;
        width: 100%;
        margin: 20px auto;
      }

      #ridesContainer {
        max-width: 600px;
        margin: 0 auto;
      }

      .rideInfo {
        background-color: #f9f9f9;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
      }

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      .cancel{
        background-color: red;
      }
      .cancel:hover{
        background-color: #c82333;
      color: #fff;
      }

      button:hover {
        background-color: #0056b3;
        color: #fff;
      }
      

      #endtrip {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      #endtrip:hover{
        background-color: #0056b3;
        color: #fff;
      }

      

      a#dashboardLink {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #007bff;
        text-decoration: none;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
  </head>
  <body><header>
    <h4 class="text-primary">
      <a href="{{ url_for('driver_dashboard') }}" style="text-decoration: none; margin-left: 10px; margin-top:10px; margin-bottom:10px; float: left;  font-weight: bold" >  <i class="bi bi-chevron-left"></i> 
      </a>
    </h4>
     
    <h2 class="text-primary">Driver Interface</h2>
    </header>
    <div id="map"></div>
    <div id="ridesContainer"></div>
    <form action="/driver" method="post" id="privateMessageForm">
      <input type="hidden" id="rightname" name="rightname" value="" />
      <input
        type="submit"
        id="privatemessage"
        value="Private Message"
        style="display: none"
        
      />
    </form>
    <button id="endtrip" style="display: none">End Trip</button>
    <input type="hidden" id="ride_id" value="{{ ride_id }}" />

<!-- SOS -->
        <p class="text-center mt-3">
            <a href="{{ url_for('sos', username=username) }}" class="btn btn-warning">SOS</a>
        </p>
    <script>
      var map, geocoder, userLocation, socket;
      let rides = [];
      socket = io();
      var origin,
        destination = "461 Clementi Rd, Singapore 599491",
        seat = 0;
      var drivername = "{{username}}",
        make = "{{make}}",
        model = "{{model}}",
        year = "{{year}}",
        rating_star="{{rating_star}}",
        license_plate = "{{license_plate}}";
      var waypoints = [];
      let rideIndex, selectedRide;
      var acceptedRides = new Set();
      var ride_id = "{{ ride_id }}";
      var waypointMarkers = [];
      var originMarker = null;
      
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 20,
          center: { lat: 1.3521, lng: 103.8198 },
        });
        geocoder = new google.maps.Geocoder();
        directionsService = new google.maps.DirectionsService();
        //directionsRenderer = new google.maps.DirectionsRenderer();
        directionsRenderer = new google.maps.DirectionsRenderer({
                suppressMarkers: true // Suppress default markers
            })
        directionsRenderer.setMap(map);
        // Get user's geolocation
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function (position) {
              userLocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };
              map.setCenter(userLocation); // Set the center of the map to the user's location
              calculateAndDisplayRoute(userLocation, destination, waypoints);
            },
            function (error) {
              console.log("Geolocation error:", error.message);
            },
            {
              enableHighAccuracy: true,
              maximumAge: 0,
              timeout: 27000,
            }
          );
        } else {
          // Browser doesn't support geolocation
          console.log("Error: Your browser doesn't support geolocation.");
        }
      }

      setInterval(function () {
        socket.emit("driver_location", {
          location: userLocation,
        });
      }, 1000);

      socket.on("ride_offered", function (data) {
        console.log("ride_offered:", data);
        if (seat + parseInt(data.seat) <= 3) {
          let newRide = {
            ride_id: data.ride_id,
            username: data.username,
            origin: data.origin,
            seat: data.seat,
            gender: data.gender,
            status: "offered",
          };
          rides.push(newRide);
          console.log(data.username);
          displayRides();
          calculateAndDisplayRoute(
            userLocation,
            destination,
            waypoints,
            data.origin
          );
        }
      });

      socket.on("ride_cancel", function (data) {
        var riderlocation = data.riderlocation;
        var ridername = data.ridername;
        console.log("riderlocation: ", riderlocation);
        console.log("Current rides:", rides);
        waypointMarkers.forEach(marker => {
            marker.setMap(null); // This removes the marker from the map
        });
        waypointMarkers = [];
        waypoints = waypoints.filter(
          (waypoint) => waypoint.location !== riderlocation
        );
        calculateAndDisplayRoute(userLocation, destination, waypoints);
        // Refresh the display of rides
        const rideIndex = rides.findIndex(
          (ride) => ride.username === ridername
        );

        // Check if the ride was found
        if (rideIndex !== -1) {
          seat -= parseInt(rides[rideIndex].seat, 10);
          rides[rideIndex].status = "canceled";
          rides.splice(rideIndex, 1); // Remove the canceled ride from the array
          acceptedRides.delete(rideIndex);
          end_trip();
          console.log("Ride canceled for:", ridername);
        } else {
          // No ride found with that username
          console.log("No ride found for username:", ridername);
        }
        cancel_ride = true;
        displayRides();
      });

      document
        .getElementById("ridesContainer")
        .addEventListener("click", function (event) {
          if (event.target.className.includes("acceptRide")) {
            const rideIndex = parseInt(
              event.target.getAttribute("data-ride-index"),
              10
            );
            const rightname = rides[rideIndex].username;
            const ride_id = rides[rideIndex].ride_id;
            seat += parseInt(rides[rideIndex].seat, 10);
            if (rideIndex !== -1) {
              rides[rideIndex].status = "accepted"; // Update the status of the ride
            }
            selectedRide = rides[rideIndex]; // Access the ride data using the retrieved index
            acceptedRides.add(rideIndex); // Add to the accepted rides
            console.log("Accepting ride from:", selectedRide.origin);
            end_trip();
            waypoints.push({
              location: selectedRide.origin,
              stopover: true,
            });

            console.log(waypoints);
            calculateAndDisplayRoute(userLocation, destination, waypoints);

            geocoder.geocode(
              { location: userLocation },
              function (results, status) {
                if (status === "OK") {
                  if (results[0]) {
                    var address = results[0].formatted_address;
                    console.log("Emitting accept_ride event", {
                      location: userLocation,
                      driverAddress: address,
                    });
                    socket.emit("accept_ride", {
                      ride_id: ride_id,
                      rightname: rightname,
                      drivername: drivername,
                      make: make,
                      model: model,
                      year: year,
                      license_plate: license_plate,
                      location: userLocation,
                      driverAddress: address,
                      rating_star:rating_star + " star"
                    });
                  } else {
                    console.log("No results found for reverse geocoding.");
                  }
                } else {
                  console.log("Reverse geocoder failed due to: " + status);
                }
              }
            );
          } else if (event.target.className.includes("rejectRide")) {
            // Get the index of the ride to be removed
            const rideIndex = parseInt(
              event.target.getAttribute("data-ride-index"),
              10
            );
            // Log the action
            console.log("Ride rejected for index:", rideIndex);
            // Remove the ride from the array
            rides.splice(rideIndex, 1);
          } else if (event.target.className.includes("privateMessage")) {
            // Submit the form when the Private Message button is clicked
            const rideIndex = parseInt(
              event.target.getAttribute("data-ride-index"),
              10
            );
            const rightname = rides[rideIndex].username;
            document.getElementById("rightname").value = rightname;
            document.getElementById("privateMessageForm").submit();
          } else if (event.target.className.includes("cancel")) {
            // Get the index of the ride to be removed
            const rideIndex = parseInt(
              event.target.getAttribute("data-ride-index"),
              10
            );
            const rightname = rides[rideIndex].username;
            seat -= parseInt(rides[rideIndex].seat, 10);
            acceptedRides.delete(rideIndex);
            end_trip();
            console.log("The username for the ride is: ", rightname);
            console.log("Ride rejected for index:", rideIndex);
            // Remove the ride from the array
            let locationToRemove = rides[rideIndex].origin;
            rides.splice(rideIndex, 1);
            // location to remove
            
            console.log("Location to remove ", locationToRemove);
            waypointMarkers.forEach(marker => {
                marker.setMap(null); // This removes the marker from the map
            });
            waypointMarkers = [];

            // Remove the waypoint with the matching location
            waypoints = waypoints.filter(
              (waypoint) => waypoint.location !== locationToRemove
            );
            calculateAndDisplayRoute(userLocation, destination, waypoints);
            // Refresh the display of rides
            socket.emit("cancel_ride", {
              rightname: rightname,
            });
          }
          displayRides();
        });

      function displayRides() {
        let ridesContainer = document.getElementById("ridesContainer");
        ridesContainer.innerHTML = ""; // Clear the container

        rides.forEach(function (ride, index) {
          let rideInfoDiv = document.createElement("div");
          rideInfoDiv.innerHTML = `
                    <p>Name: <span>${ride.username}</span></p>
                    <p>Passenger Location: <span>${ride.origin}</span></p>
                    <p>Seats available: <span>${ride.seat}</span></p>
                    <button class="acceptRide" data-ride-index="${index}">Accept Ride</button>
                    <button class="rejectRide" data-ride-index="${index}">Reject Ride</button>
                    <button class="privateMessage" data-ride-index="${index}" style="display: none;">Private Message</button>
                    <button class="cancel" data-ride-index="${index}" style="display: none;margin-top:10px; ">Cancel Ride</button>
                    <hr>`;
          ridesContainer.appendChild(rideInfoDiv);

          if (ride.status === "accepted") {
            rideInfoDiv.querySelector(".acceptRide").style.display = "none";
            rideInfoDiv.querySelector(".rejectRide").style.display = "none";
            rideInfoDiv.querySelector(".privateMessage").style.display =
              "block";
            rideInfoDiv.querySelector(".cancel").style.display = "block";
          } else if (ride.status === "canceled") {
            rideInfoDiv.querySelector(".acceptRide").style.display = "block";
            rideInfoDiv.querySelector(".rejectRide").style.display = "block";
            rideInfoDiv.querySelector(".privateMessage").style.display = "none";
            rideInfoDiv.querySelector(".cancel").style.display = "none";
            cancel_ride = false;
          }
        });
      }

      function calculateAndDisplayRoute(origin, destination, waypointsArray) {
        if (originMarker) {
            originMarker.setMap(null); // Remove the existing marker
        }
        return new Promise((resolve, reject) => {
          geocoder.geocode({ location: origin }, function (results, status) {
            if (status === "OK") {
              if (results[0]) {
                const originAddress = results[0].formatted_address;
                const isOriginMatch = waypointsArray.some(
                  (waypoint) => waypoint.location === originAddress
                );
                if (isOriginMatch) {
                  waypointsArray = waypointsArray.filter(
                    (waypoint) => waypoint.location !== originAddress
                  );
                }
              }
              // Now that the waypoints have been filtered, resolve the promise with the updated waypoints array
              resolve(waypointsArray);
            } else {
              // If geocoding fails, reject the promise
              reject("Geocoding failed: " + status);
            }
          });
        })
        .then((updatedWaypointsArray) => {
          originMarker = new google.maps.Marker({
          position: origin,
          map: map,
          icon: {
              url: 'static/img/car-icon.png',  // Path to the image you want to use as a marker
              scaledSize: new google.maps.Size(40, 40)  // Sets the icon size
          }
          });

          geocoder.geocode({ 'address': destination }, function(results, status) {
            if (status === 'OK') {
                new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    icon: {
                        url: 'static/img/location.png',
                        scaledSize: new google.maps.Size(40, 40)
                    }
                });
            } else {
                console.error('Geocode was not successful for the following reason: ' + status);
            }
        });

        var request = {
          origin: origin, // Can be a LatLng object or string
          destination: destination, // Can be a LatLng object or string
          travelMode: "DRIVING",
          waypoints: updatedWaypointsArray, // Updated waypoints array
        };

        // Only include the waypoints property if there are waypoints
        if (updatedWaypointsArray && updatedWaypointsArray.length > 0) {
          request.optimizeWaypoints = true;
        }

        directionsService.route(request, function (response, status) {
          if (status === "OK") {
            directionsRenderer.setDirections(response);
            if(waypoints.length != 0)
            {
              response.routes[0].legs.forEach((leg, index) => {
                  // The first leg's start location is the origin, no need to place a new marker
                  if (index > 0) {  // Start from 1 to skip the origin
                    let marker = new google.maps.Marker({
                          position: leg.start_location, // Place marker at the start of the leg
                          map: map,
                          icon: {
                              url: 'static/img/pick-up.png',  // Use the same image for all waypoints
                              scaledSize: new google.maps.Size(30, 30)
                          }
                      });
                    waypointMarkers.push(marker);
                  }
                  
              });
            }
          } else {
            console.error("Directions request failed due to " + status);
          }
        });
      })
      .catch((error) => {
        console.error(error);
      });
  }

      function end_trip() {
        if (acceptedRides.size > 0) {
          document.getElementById("endtrip").style.display = "block";
          document
            .getElementById("endtrip")
            .addEventListener("click", function () {
              socket.emit("end_trip", { ride_ended: true });
              window.location.reload();
            });
        } else {
          document.getElementById("endtrip").style.display = "none";
        }
      }
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWGspYJlGaBszG-0PYcN41cCCGPpEnZ5s&callback=initMap"
      async
      defer
    ></script>
    <a href="{{ url_for('driver_dashboard') }}" id="dashboardLink">Go to dashboard</a>
  </body>
</html>
