{% if session['role'] == 'Rider' %}
<strong> <h4 class="mb-3">Scheduled Rides Booked by Me</h4></strong>

{% for ride in booked_rides %}
<div class="col-6">
  <div class="card ride-card">
    <div class="card-body">
      <h5 class="card-title">Driver: {{ ride.driver }}</h5>
      <p class="card-text"><strong>Origin:</strong> {{ ride.origin }}</p>
      <p class="card-text">
        <strong>Destination:</strong> {{ ride.destination }}
      </p>
      <p class="card-text"><strong>Date:</strong> {{ ride.date }}</p>
      <p class="card-text"><strong>Time:</strong> {{ ride.time }}</p>
      <p class="card-text">
        <strong>Seats Available:</strong> {{ ride.seats_available }}
      </p>
      <p class="card-text">
        <strong>Pick-up Point:</strong> {{ ride.pickup_point }}
      </p>
      {% if ride.date == today %}
      <a
        href="{{ url_for('rider_scheduled_ride', 
                  username=username, 
                  gender=gender,
                  driver=ride.driver,
                  origin=ride.origin, 
                  destination=ride.destination,
                  date=ride.date,
                  time=ride.time,
                  seats_available=ride.seats_available, 
                  pickup_point=ride.pickup_point) }}"
        class="btn btn-primary btn-start"
        >Start Now</a
      >
      {% endif %}
    </div>
  </div>
</div>
{% endfor %} {% endif %} {% if session['role'] == 'Driver' %}
<strong><h4 class="mb-3">Rides Scheduled by Me</h4></strong>

{% for ride in scheduled_rides %}
<div class="col-6">
  <div class="card ride-card">
    <div class="card-body">
      <h5 class="card-title">Origin: {{ ride.origin }}</h5>
      <p class="card-text">
        <strong>Destination:</strong> {{ ride.destination }}
      </p>
      <p class="card-text"><strong>Date:</strong> {{ ride.date }}</p>
      <p class="card-text"><strong>Time:</strong> {{ ride.time }}</p>
      <p class="card-text">
        <strong>Seats Available:</strong> {{ ride.seats_available }}
      </p>
      {% if ride.booked_by %}
      <p class="card-text"><strong>Booked by:</strong> {{ ride.booked_by }}</p>
      <p class="card-text">
        <strong>Pick-up Point:</strong> {{ ride.pickup_point }}
      </p>
      {% endif %} {% if ride.date == today %}
      <a
        href="{{ url_for('driver_scheduled_ride', 
                  username=username, 
                  gender=gender, 
                  origin=ride.origin, 
                  destination=ride.destination, 
                  date=ride.date, 
                  time=ride.time, 
                  seats_available=ride.seats_available, 
                  booked_by=ride.booked_by, 
                  pickup_point=ride.pickup_point) }}"
        class="btn btn-primary btn-start"
        >Start Now</a
      >
      {% endif %}
    </div>
  </div>
</div>
{% endfor %} {% endif %}
