{% if session['role'] == 'Rider' %}
<strong> <h4 class="mt-5 mb-3">Scheduled Rides Requested by Me</h4></strong>

{% for ride in requested_rides %}
<div class="justify-content-center">
  <div class="card ride-card ml-3 mr-3">
    <div class="card-body">
      <p class="card-text"><strong>Origin:</strong> {{ ride.origin }}</p>
      <p class="card-text">
        <strong>Destination:</strong> {{ ride.destination }}
      </p>
      <p class="card-text"><strong>Date:</strong> {{ ride.date }}</p>
      <p class="card-text"><strong>Time:</strong> {{ ride.time }}</p>
      <p class="card-text">
        <strong>Seats Requested:</strong> {{ ride.number_of_passengers }}
      </p>
      {% if ride.driver %}
      <p class="card-text"><strong>Driver:</strong> {{ ride.driver }}</p>
      <p class="card-text">
        <strong>Driver's Origin:</strong> {{ ride.driver_origin }}
      </p>
      {% endif %} {% if ride.date == today and ride.driver %}
      <a
        href="{{ url_for('rider_scheduled_ride', username=username, gender=gender, driver=ride.driver, origin=ride.driver_origin, destination=ride.destination, date=ride.date, time=ride.time, seats_available=ride.number_of_passengers, pickup_point=ride.origin) }}"
        class="btn btn-primary btn-start"
        >Start Now</a
      >
      {% endif %}
    </div>
  </div>
</div>
{% endfor %} {% endif %} {% if session['role'] == 'Driver' %}
<strong><h4 class="mt-5 mb-3">Scheduled Ride Requests Accepted by Me</h4></strong>

{% for ride in accepted_rides %}
<div class="justify-content-center">
  <div class="card ride-card ml-3 mr-3">
    <div class="card-body">
      <p class="card-text"><strong>Origin:</strong> {{ ride.driver_origin }}</p>
      <p class="card-text">
        <strong>Destination:</strong> {{ ride.destination }}
      </p>
      <p class="card-text"><strong>Date:</strong> {{ ride.date }}</p>
      <p class="card-text"><strong>Time:</strong> {{ ride.time }}</p>
      <p class="card-text">
        <strong>Seats Requested:</strong> {{ ride.number_of_passengers }}
      </p>
      <p class="card-text"><strong>Requested By:</strong> {{ ride.rider }}</p>
      <p class="card-text"><strong>Pick-up Point:</strong> {{ ride.origin }}</p>
      {% if ride.date == today %}
      <a
        href="{{ url_for('driver_scheduled_ride', username=username, gender=gender, origin=ride.driver_origin, destination=ride.destination, date=ride.date, time=ride.time, seats_available=ride.number_of_passengers, booked_by=ride.rider, pickup_point=ride.origin) }}"
        class="btn btn-primary btn-start"
        >Start Now</a
      >
      {% endif %}
    </div>
  </div>
</div>
{% endfor %} {% endif %}
