<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule a Ride</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        #roomNumber {
            display: none;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <h2>Schedule a Ride</h2>
    <div id="map"></div>
    <div id="address"></div>
    <br>
    <form id="rideForm" action="{{ url_for('schedule_ride') }}" method="post">
        <input type="hidden" name="action" value="scheduleRide">
        <label for="origin">Origin:</label><br>
        <input type="text" id="origin" name="origin"><br>
        <label for="destination">Destination:</label><br>
        <input type="text" id="destination" name="destination"><br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br>
        <label for="time">Time:</label><br>
        <input type="time" id="time" name="time"><br>
        <label for="seats_available">Number of Passengers:</label><br>
        <input type="number" id="seats_available" name="seats_available" min="1"><br><br>
        <label for="gender">Gender Preference:</label><br>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br><br>
        <button type="button" id="submitLocation">Schedule a Ride</button>
    </form>
    <p id="roomNumber">Room Number: <span id="room"></span></p>
    <form id="messageForm" action="{{ url_for('schedule_ride') }}" method="post">
        <input type="hidden" name="action" value="privateMessage">
        <input type="submit" id="privatemessage" value="Private Message" style="display: none">
    </form>
    <button id="cancelRideButton" style="display: none;">Cancel Ride</button>

    <script>
        var map, geocoder, userLocation, socket, marker, destMarker, username = "{{ username }}";
        console.log('The current username is:', username);
        socket = io();
        var driverAddress;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 20,
                center: {lat: 1.3521, lng: 103.8198} // Default center (e.g., Singapore)
            });
            geocoder = new google.maps.Geocoder();
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer({})
            directionsRenderer.setMap(map);

            // Get user's geolocation
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    userLocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(userLocation); // Set the center of the map to the user's location
                    marker = new google.maps.Marker({
                        position: userLocation,
                        map: map,
                        title: 'You are here'
                    });

                    // Reverse geocoding to get user's address
                    geocoder.geocode({'location': userLocation}, function(results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                var address = results[0].formatted_address;
                                document.getElementById('origin').value = address;
                                document.getElementById('address').innerHTML = 'Your address: ' + address;
                            } else {
                                console.log('No results found');
                            }
                        } else {
                            console.log('Geocoder failed due to: ' + status);
                        }
                    });
                }, function() {
                    // Handle geolocation errors
                    console.log('Error: The Geolocation service failed.');
                });
            } else {
                // Browser doesn't support geolocation
                console.log('Error: Your browser doesn\'t support geolocation.');
            }
        }

        document.getElementById('origin').addEventListener('input', debounce(function() {
            origin = this.value;
            if (!origin) return;  // Do nothing if the input is empty

            geocoder.geocode({'address': origin}, function(results, status) {
                if (status === 'OK') {
                    var location = results[0].geometry.location;
                    document.getElementById('address').innerHTML = 'Your address: ' + origin;
                    map.setCenter(location);
                    if(marker){
                        marker.setMap(null); // Remove the marker from the map
                    }
                    // Place a new marker at the geocoded location
                    marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: 'Ride origin'
                    });
                } else {
                    console.error('Geocode was not successful for the following reason:', status);
                }
            });
            }, 500));  // Debounce 500 milliseconds

        // Debounce function to limit how often a function can run
        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        document.getElementById('submitLocation').addEventListener('click', function() {
            document.getElementById('rideForm').style.display = 'none';
            username = "{{ username }}";
            var origin = document.getElementById('origin').value;
            var destination = document.getElementById('destination').value;
            var date = document.getElementById('date').value;
            var time = document.getElementById('time').value;
            var seat = document.getElementById('seats_available').value;
            var gender = document.getElementById('gender').value;

            console.log('Username:', username);

            // Submit the form data using AJAX
            fetch("{{ url_for('schedule_ride') }}", {
                    method: 'POST',
                    body: new FormData(document.getElementById('rideForm'))
                })
                
            if (origin && userLocation) {
                console.log('Emitting offer_ride event', { username: username,origin: origin, destination: destination, date: date, time: time, seat:seat, gender: gender });
                socket.emit('offer_ride', { username: username, origin: origin, destination: destination, date: date, time: time, seat:seat, gender: gender });
            }
        });

        socket.on('ride_accepted', function(data) {
            var origin = document.getElementById('origin').value;
            var room = data.room;
            console.log('username: ', username)
            document.getElementById('room').value = room;
            console.log("Room:", room);
            document.getElementById('privatemessage').style.display = 'block';
            document.getElementById('cancelRideButton').style.display = 'block';
            console.log("Full data received:", data);
            if(marker){
                marker.setMap(null); // Remove the marker from the map
            }
            if(data.driverLocation) {
                driverAddress = data.driverLocation;
                console.log("Driver Address:", driverAddress);
                var originAddress = document.getElementById('origin').value;
                calculateAndDisplayRoute(driverAddress, originAddress);
            } else {
                console.error("Driver address is undefined in received data:", data);
            }

            document.getElementById('cancelRideButton').addEventListener('click', function() {
                directionsRenderer.setDirections({ routes: [] });
                document.getElementById('privatemessage').style.display = 'none';
                document.getElementById('rideForm').style.display = 'block';
                document.getElementById('room').value = '';
                if (destMarker) {
                    destMarker.setMap(null);
                    destMarker = null; // Remove the reference to the marker
                }
                socket.emit('cancel_ride', {
                    riderlocation: origin, 
                    ridername: username 
                });
                });
        });

        socket.on('ride_cancel', function(data) {
            var rightname = data.rightname;
            document.getElementById('cancelRideButton').style.display = 'none';
            console.log('rightname: ', rightname)
            console.log(origin)
            if(username == rightname)
            {            
                directionsRenderer.setDirections({ routes: [] });
                document.getElementById('privatemessage').style.display = 'none';
                document.getElementById('cancelRideButton').style.display = 'none';
                document.getElementById('rideForm').style.display = 'block';
                document.getElementById('room').value = '';
                if (destMarker) {
                    destMarker.setMap(null);
                    destMarker = null; // Remove the reference to the marker
                }
            }
        });
        

        function calculateAndDisplayRoute(destination, origin) {
            directionsService.route({
                origin: origin,
                destination: destination,
                travelMode: 'DRIVING'
            }, function(response, status) {
                if (status === 'OK') {
                    directionsRenderer.setDirections(response);
                    destMarker = new google.maps.Marker({
                        position: response.routes[0].legs[0].end_location,
                        map: map,
                        /*icon: {
                            url: '/static/img/car-icon.png', // Change this to the path of your custom icon
                            scaledSize: new google.maps.Size(50, 50) // Adjust the size as needed
                        }*/
                    });
                    var originMarker = new google.maps.Marker({
                        position: response.routes[0].legs[0].start_location,
                        map: map,
                        /*icon: {
                            url: '/static/img/location.png', // Change this to the path of your custom icon
                            scaledSize: new google.maps.Size(30, 30) // Adjust the size as needed
                        }*/
                    });
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWGspYJlGaBszG-0PYcN41cCCGPpEnZ5s&callback=initMap" async defer></script>
    <a href="{{ url_for('rider_dashboard') }}" id="dashboardLink">Go to dashboard</a>
</body>
</html>
